/* Fonts */
@font-face {
	font-family: 'Inter';
	src: url(./assets/fonts/Inter-VariableFont_slnt_wght.ttf);
}

/* Variables */
:root {
	/* Primary */
	--green: hsl(75, 94%, 57%);
	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--grey: hsl(0, 0%, 20%);
	--darkGrey: hsl(0, 0%, 12%);
	--offBlack: hsl(0, 0%, 8%);
}

/* Box Sizing Rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default spacing in favour of better control in authored CSS */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--offBlack);
	font-family: 'Inter', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--white);
	line-height: 1.5;
}

.card {
	width: 327px;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
	background-color: var(--darkGrey);
	border-radius: 12px;
	text-align: center;
}

.image {
	border-radius: 100%;
}

.name-location {
	width: 100%;

	h2 {
		font-size: 1.5rem;
		font-weight: 600;
	}

	p {
		font-weight: 700;
		color: var(--green);
	}
}

.links {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	button {
		width: 100%;
		padding: 0.75rem;
		background-color: var(--grey);
		border: none;
		border-radius: 8px;
		color: var(--white);
		font-weight: 700;
		cursor: pointer;
		transition: all 200ms ease-in;
	}

	button:hover,
	button:active {
		background-color: var(--green);
		color: var(--grey);
	}
}

@media (min-width: 640px) {
	.card {
		width: 356px;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.card {
		width: 384px;
		padding: 2.5rem;
	}
}
